@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  background-color: #000;
  color-scheme: dark;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
}

/* Animation pour la notification */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
.animate-fadeInOut {
  animation: fadeInOut 3s ease-in-out forwards;
}

/* Scroll doux et invisible */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main {
  margin-top: 5rem;
}

